html {
  box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;

}

p{
  font-size: 22px;
}

body{
background-image: url(/home/minty/git/Vcard/background.png);
font-family: 'Cousine', monospace;

}

.page {
display:grid;
grid-gap: 10px;
grid-template-rows: 60% 30% 10%;
margin-left: 550px;
margin-top: 200px;

margin-right: 550px;
justify-content: ;
align-content: end;
max-height: 650px;
max-width: 280px;




}



.infophoto{
grid-template-columns: 30% 70%;


}

.infoone{
grid-column: 2;
grid-row: 1;
text-align: left;
margin-right: -100px;
text-align: justify;




}

.infotwo{
grid-column: 1;
grid-row: 2;
font-weight: bold;



}

.infothree{
grid-column: 2;
grid-row: 2;



}


.photo{
margin-top: 30px;
}

.atouts{
grid-auto-columns: 100%;
text-align: center;

max height: 200px;

}


#phototwo{

}

#onethree {
margin-right: -200px

}
